
@{
    ViewBag.Title = "Join Or Create a Community!";
}

<h2>JoinOrCreateCommunityForm</h2>

<a href="@Url.Action("CreateCommunity","Community")" class="btn ce-btn-ghost">Create Community</a>
<a href="@Url.Action("JoinCommunity","Community")" class="btn ce-btn-ghost">Join A Community</a>
